<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="../static/css/style-notebook.css">
  <title>Notebook List</title>
</head>

<body onload="load_json()">
  {% csrf_token %}
  <div id="loader"></div>
  <div id="loader-background"></div>

  <div class="container" id="container">

    <br>

    <div class="row">
      <div class="col-sm-2">
        <p>Themes</p>
      </div>
      <div class="col-sm-2">
        <a href=""><button type="button" class="btn btn-primary" id="light_theme">Light</button></a>
      </div>
      <div class="col-sm-2">
        <a href=""><button type="button" class="btn btn-primary" id="dark_theme">Dark</button></a>
      </div>
    </div>

    <a href="/" style="color: white"><button type="button" class="btn btn-primary align-middle" name="button" id="back_btn">Back</button></a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Details</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>

    <h2 id="total">Jumlah uang yang saya harus siapkan: 0</h2>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/script-notebook.js"></script>

  </body>
</html>
