html {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

body {
  transition: background-color 0.5s ease;
}

#container {
  display: none;
}

#loader {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 47%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader-background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.5;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-opt {
  height: 40vh;
  width: auto;
  padding: 1.5rem;
}

.light {
  background-color: rgba(255, 255, 255, 1) !important;
}
.dark {
  background-color: rgba(52, 58, 64, 1) !important;
}

.light-toggled {
  background-color: rgba(255, 255, 255, 1);
}
.dark-toggled {
  background-color: rgba(52, 58, 64, 1);
}

.light p {
  color: black !important;
}

.light h1 {
  color: black !important;
}

.light h2 {
  color: black !important;
}

.light form {
  color: black !important;
}

.light .form-content {
  color: black !important;
}

.light-toggled p {
  color: black;
}

.light-toggled h1 {
  color: black;
}

.light-toggled h2 {
  color: black;
}

.light-toggled form {
  color: black;
}

.light-toggled .form-content {
  color: black;
}

.dark p {
  color: white;
}

.dark h1 {
  color: white;
}

.dark h2 {
  color: white;
}

.dark form {
  color:white;
}

.dark .form-content {
  color: white;
}

.dark-toggled p {
  color: white;
}

.dark-toggled h1 {
  color: white;
}

.dark-toggled h2 {
  color: white;
}
