<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <title>Dzikra's Form</title>
  </head>

  <body>
    <div id="loader"></div>
    <div id="loader-background"></div>

    <div class="container" id="container">

      <br>

      <div class="row">
        <div class="col-sm-2">
          <p>Themes</p>
        </div>
        <div class="col-sm-2">
          <a href=""><button type="button" class="btn btn-primary" id="light_theme">Light</button></a>
        </div>
        <div class="col-sm-2">
          <a href=""><button type="button" class="btn btn-primary" id="dark_theme">Dark</button></a>
        </div>
      </div>

      <div class="row">
        <h1>Apa kabar?</h1>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <form method="post">
            {% csrf_token %}
            {{ status_form.as_table }}
            <input type="submit" name="submit" class="btn btn-primary" value="submit" id="submit_btn">
          </form>
        </div>
        <div class="col-sm-8">
          {% for i in all_status %}
          <div class="row">
            <div class="col-sm-4">
              <p>My status:</p>
            </div>
            <div class="col-sm-4 form-content">{{ i.myStatus }}</div>
          </div>
          {% endfor %}
        </div>
      </div>

      <br>

      <div class="row">
        <a href="/profile" style="color: white"><button type="button" class="btn btn-primary" id="profile_btn">Go To Profile</button></a>
      </div>

      <br>

      <div class="row">
        <a href="/notebook" style="color: white"><button type="button" class="btn btn-primary" id="notebook_btn">Go To Notebook</button></a>
      </div>

      <br>

      <div class="row">
        {% if user.is_authenticated %}
          <p>Selamat datang, {{ user.username }}</p>
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary" id="logout_btn">Logout</button></a>
        {% else %}
          <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-primary" id="login_btn">Login with Google</button></a>
        {% endif %}
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>

  </body>

</html>
